@model TurtleGraphicsDoIt.Models.ViewModel
@{
    ViewBag.Title = "Home";
    var code = Model != null ? Model.Code : "";
}

<div class="screen-pane">
    <canvas id="canvas" width="400" height="400"></canvas>
</div>

<div class="editor-pane">
    @using (Html.BeginForm("Publish", "Default"))
    {
        <textarea id="code-area"
            name="code"
            autofocus
            placeholder="Enter JavaScript code here. ex) turtle.move(100); turtle.turn(90); turtle.penUp(); turtle.penDown();">@code</textarea>
        <input type="hidden" id="graphic-data-URL" name="GraphicDataURL" value="" />
    }
    <div class="actions">
        <a href="#" class="action-run" id="btn-run">Run (alt+r)</a>
        <a href="#" class="action-publish" id="btn-publish">Publish</a>
    </div>
</div>

@section Scripts {
    <script src="~/turtle-graphics.js"></script>
    <script src="~/turtle-graphics-doit.js"></script>
}


