@model TurtleGraphicsDoIt.Models.ViewModel
@{
    ViewBag.Title = "Published";
    var rowKey = this.ViewContext.RouteData.Values["id"];
}

<h2>Published</h2>

<div class="screen-pane">
    <img src="@Model.GraphicDataURL" alt="graphic" />
</div>

<div class="editor-pane">
    <pre id="code-area">@Model.Code</pre>
    <div class="actions">
        <a href="@Url.Action("Index", "Default", new { id = rowKey })" id="btn-clone">Clone</a>
    </div>
</div>
