@model System.Collections.Generic.IEnumerable<string>
@{
    ViewBag.Title = "List of published";
    ViewBag.BodyCssClass = "list-of-published";
}

<h2>@ViewBag.Title</h2>

<ul class="published-list">
    @foreach (var rowkey in Model)
    {
        <li>
            <a href="@Url.Action("Detail", new { id = rowkey })">
            <img src="@Url.Action("Thumbnail", new { id = rowkey })" class="thumbnail" />
            </a>
        </li>
    }
</ul>
